@import url(//fonts.googleapis.com/css?family=Imprima);

body,a{
    font-family: 'Imprima', sans-serif;
    color: #7DAF74; 
}
.bg-green{
    background: #7DAF74;
}

.nav-link{
    color: #fff;
}

.col-recipe{

    .photo-recipe{
        position: absolute;
        left: 0;
        top: 0;
        width: 155px;
        height: 155px;
        border: 5px solid #EFEFEF;
        border-radius: 100%;
        overflow: hidden;

        img{
            width: 150px;
            height: 150px;    
        }
    }
    
     .description{
         padding-left: 150px;
     }

}