body {
    font-family: 'Imprima', sans-serif;
    
    
}

p, a {
    color: #7DAF74;
}

.bg-green {
    background: #7DAF74;
}

.wdth-100{
    width: 100%;
}

//nav
.nav-link {
    color: #fff;
}

.title-page {
   overflow: hidden;
   
   img{
    filter: brightness(30%);
   }
}



//recipe
.col-recipe {

    position: relative;
    top: 50px;
    margin-bottom: 100px;

    .photo-recipe {
        position: absolute;
        left: -10px;
        top: 0;
        width: 155px;
        height: 155px;
        border: 5px solid #EFEFEF;
        border-radius: 100%;
        overflow: hidden;

        img {
            width: 150px;
            height: 150px;    
        }
    }
    
     .description {
         padding-left: 150px;
     }

}

//footer
.newsletter-banner {
    background: #7DAF74;
    height: 100px;
    padding-top: 32px;
    padding-bottom: 32px;

    p {
        color:#fff;
        font-size: 24px;
    }

    a {
        color: #fff;
        position: absolute;
        top:0;
        left:88%;
        padding: 7px;
        background-color: #042940;

    }

    input {
        width:92%;
        border-radius:0;
    }
    
}

.social-media {
    
    i {
        width: 36px;
        line-height: 35px;
        font-size: 18px;
        border-radius: 50px;
        background-color: gray;
        color: #fff;
    }

    a {
        background-color: gray;
        border-radius: 50px;
        text-align: center;
    }
}

.footer2 {
    height:200px;
    padding-top: 60px;
}

//contact
.send-us {
    margin-top: 50px;
    border-bottom: 1px solid #e5e5dc;
    padding-bottom: 30px;
}

.contact-details {

    margin: 50px 0 50px 0;

    p {
        font-size:16px;
    }
}

.contact-form {

        margin-bottom: 50px;

    .msg {
        height: 150px;
    }

    button {
        background-color: #7DAF74;
        border-color: transparent;
    }
}


//homepage
.titles {
    margin-top: 50px;
    padding-bottom: 14px;
    border-bottom: 1px solid #e5e5dc;
}

.recent-products{
    
    margin-top:50px;
    padding-bottom: 50px;

    .product {
        
        button {
            margin-bottom: 20px;
            background-color: #7DAF74;
            border-color: transparent;
            width: 100%;

            i, a {
                    color: #fff;
            }
        }
    }

    .product-border:hover{
        box-shadow: 0 2px 3px 0 rgba(51,51,51,.2);
    }
}


//header

.logins {
    background-color: #262626;
    padding: 5px 0 5px 0;

    button{
        background-color: #333333;
        border: transparent;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
    button:hover{
        background-color: #7DAF74;
        border: transparent;
    }

}